# ----------------------------------------------------
# Copyright (c) 2026 Globaldata Uruguay
# Todos los derechos reservados
# Este software es propiedad confidencial de Globaldata Uruguay
# ----------------------------------------------------

/uploads/*
!/uploads/.gitkeep
/logs/*
!/logs/.gitkeep
